[submodule "roles/win_debloat"]
	path = roles/win_debloat
	url = https://github.com/oxivanisher/role-win_debloat.git
[submodule "roles/win_explorer"]
	path = roles/win_explorer
	url = https://github.com/oxivanisher/role-win_explorer.git
[submodule "roles/win_startmenu"]
	path = roles/win_startmenu
	url = https://github.com/oxivanisher/role-win_startmenu.git
[submodule "roles/win_taskbar"]
	path = roles/win_taskbar
	url = https://github.com/oxivanisher/role-win_taskbar.git
